*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #090909;
    --primative-color: #1a94ff;
    --rating-color: rgba(255, 153, 0, 0);
}

html {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #fafafa;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.container {
    width: 1000px;
    margin: 32px auto 0;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: #fff;
    border-bottom: 1px solid rgb(219, 219, 219);
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 15px;
    background-color: #fff;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.header__title {
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    color: #292929;
}

.header__title.active {
    opacity: 1;
}

.header__container .logo img {
    width: 150px;
}

.header__container .menu {
    display: flex;
}

.header__container .menu>li {
    list-style: none;
    margin-right: 30px;
    color: #292929;
    position: relative;
    cursor: pointer;
}

.header__container .menu>li a {
    text-decoration: none;
    color: #292929;
}

.header__container .menu>li.sub-menu ul {
    position: absolute;
    right: -50%;
    top: 300%;
    list-style: none;
    padding: 10px 18px;
    transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 15px;
    color: rgb(51, 51, 51);
    /* pointer-events: none; */
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.header__container .menu>li.sub-menu:hover ul {
    top: 200%;
    opacity: 1;
    visibility: visible;
}

.header__container .menu>li.sub-menu ul::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -10px;
    right: 10%;
    transform: translateX(-50%);
    z-index: 10;


}

.header__container .menu>li.sub-menu ul::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    top: -50%;
    right: 10%;
}

.header__container .menu>li.sub-menu ul li:not(:last-child) {
    margin-bottom: 5px;
}

.title h1 {
    font-size: 30px;
    color: rgb(41, 41, 41);
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 130px;

}

.body {
    background-image: url('../static/images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
}

#predict {
    display: flex;
    flex-direction: column;
}

#predict-text-comment {
    color: #292929;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#predict-text-star {
    color: #292929;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#predict-text-star img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-top: 2px;
}

#form {
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-group img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 5px;
    margin: -30px;
}

.form-group .form-text {
    width: 100%;
    padding: 20px;
    background-color: white;
    /* box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid rgb(219, 219, 219);
}

#comment-label {
    margin-bottom: 12px;
    color: #5c5c5c;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .5px;
}

#comment {
    font-size: 20px;
    color: #5c5c5c;
    min-height: 160px;
    border: none;
    outline: none;
    resize: none;
    margin-top: 5px;
    font-family: inherit;
}

#submit-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    height: 44px;
    width: auto;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 27px;
    border: 0px;
    transition: all 0.3s ease 0s;
}

#submit-btn:hover {
    opacity: 0.9;
}

.predict-pos {
    color: var(--primative-color);
    margin: 0 5px;
}

.predict-nev {
    color: crimson;
    margin: 0 5px;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 15px;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    #container {
        width: 600px;
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    #container {
        width: 600px;
    }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    #container {
        padding: 20px;
    }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    #container {
        padding: 20px;
    }
}

/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
    #container {
        padding: 20px;
    }
}