*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --title-color: black;
    --primative-color: rgb(26, 148, 255);
    --rating-color: rgb(255, 153, 0);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeee;
}

#container {
    width: 100%;
    margin: 32px auto 0;
}

#title {
    color: var(--title-color);
    text-align: center;
}

#predict {
    display: flex;
}

#predict-text {
    margin: auto;
    height: 72px;
    font-size: 24px;
    text-align: center;
    line-height: 72px;
    color: var(--rating-color);
}

#form {
    padding: 24px;
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#comment-label {
    margin-bottom: 12px;
}

#comment {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 160px;
    resize: vertical;
    outline: none;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 8px;
}

#submit-btn {
    font-size: 24px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--primative-color);
    color: white;
    padding: 6px 0;
    cursor: pointer ;
}

#submit-btn:hover {
    opacity: 0.9;
}

@media (min-width: 768px) {
    #container {
        width: 800px;
    }
    
    #predict-text { 
        font-size: 36px;
    }
}